h1, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

#wider-please {
  max-width: 95%;
}

h2 {
  font-family: 'DM Serif Display', serif;
  font-size: 3rem;
}

.testimonial-text {
  font-family: 'Roboto Slab', serif;
  font-size: 2.5rem;
}

em {
  font-size: 1.5rem;
}

.navlink {
  padding: 0;
}

.outline {
  outline: 5px solid black;
  border-radius: 5%;
  border-top-left-radius:
}

.container-fluid {
  padding: 7% 15%;
}

/* Headings */
.big-heading {
  font-family: 'DM Serif Display', serif;
  color: black;
  font-size: 9rem;
  text-shadow: -7px 7px 5px #EBE4D2,
    7px 7px 5px #EBE4D2,
    7px -7px 5px #EBE4D2,
    -7px -7px 5px #EBE4D2;
  line-height: 1.5;
  padding: 12% 13% 0%;
}

.subtext {
  font-size: 3rem;
  font-family: 'Cutive Mono', monospace;
  color: black;
  text-shadow: -3px 3px 5px #EBE4D2,
    3px 3px 5px #EBE4D2,
    3px -3px 5px #EBE4D2,
    -3px -3px 5px #EBE4D2;
  line-height: 1;
  padding: 0% 0% 9%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* Sections */
.coloured-section {
  background-color: #EBE4D2;
  color: black;
}

.white-section {
  background-color: #ffffff;
  color: black;
}

.pink-section {
  background-color: #ECCADD;
  color: black;
}

.title-image {
  width: 100%;
  position: absolute;
}

.carousel-image {
  width: 100%;
  position: absolute;
  height: 86%;
}

.icon-image {
  width: 8%;
  height: 8%;
}


/* Navigation Bar */
.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
}

.nav-item {
  padding: 0 20px;
  font-family: 'DM Serif Display', serif;
}

.nav-link {
  font-size: 2rem;
  color: black;
  opacity: 0.7;
  font-family: 'DM Serif Display', serif;
}

.nav-link:hover {
  color: black;
  opacity: 1;
}

.big-padding {
  padding: 30% 20%;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */
#title .container-fluid {
  padding: 1% 3% 8%;
  text-align: center;
}

.puff-up {
  padding: 3% 0%;
}

#hint {
  padding-top: 3%;
  text-align: center;
}

.page-title {
  text-align: center;
  font-family: 'DM Serif Display', serif;
  font-size: 5rem;
}

.section-text {
  text-align: center;
  font-family: 'DM Serif Display', serif;
  font-size: 3.5rem;
  padding: 3% 0% 1%;
}

.blog-section-text {
  text-align: left;
  font-family: 'DM Serif Display', serif;
  font-size: 3.5rem;
  padding: 3% 0% 1%;
}

#carousel-text {
  padding: 3% 0% 1%;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active, .carousel-item .carousel-item-left, .carousel-item-right {
  padding-top: 0;
}

.issue-link {}

/* Title Image */
.issueodd {
  background-color: #ECCADD;
}

.issueeven {
  background-color: #EAD3C6;
}


/* Table thingo */
.table {
  font-weight: 100;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  padding-top: 3%
}

.hint {
  padding-bottom: 3%;
}

.dog-row {
  padding: 0% 3% 1%;
}

.neat {
  text-align: center;
  padding: 0% 3% 2.3%;
}

.info {
  color: #8f8f8f;
}

/* Feature List */
#features {
  background-color: #fff;
  position: relative;
}

.feature-image {
  height: 25%;
  width: 25%;
  border-radius: 2%;
  padding-bottom: 2%;
}


.icons {
  color: #ef8172;
  font-size: 50px;
}

.icons:hover {
  color: #ff4c68;
}

/* Testimonials */
#testimonials {
  width: 100%;
  height: 630px;
}

.testimonial-image {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 0% 15% 0%;
  text-align: center;
}

.carousel-control-next, .carousel-control-prev, .play-button, .music-button {
  color: black;
  font-size: 4rem;
  display: block;
  padding-top: 2%;
  display: flex;
}

.play-button {
  padding-top: 5.5%;
}

.music-button {
  margin-inline-start: 45%;
  padding-top: 7.5%;
  font-size: 3.7rem;
}

.heart-button {
    padding-top: 7.5%;
    font-size: 3.5rem;
    left: 0;
    padding-left: 29%;
}

.carousel-control-prev {
  margin-left: 32%;
  margin-top: 5%;
}

.carousel-control-next {
  margin-right: 32%;
  margin-top: 5%;
}

.bi-music-note-list {
  padding-right: 40%;
}

.carousel-control-play {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
}

.carousel-control-heart {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: 15%;
  color: #fff;
  text-align: center;
}

.full {}


.bi {
  color: black;
  width: 100px;
  height: 100px;
}

.bi-suit-heart-fill {
  color: black;
  width: 100px;
  height: 100px;
}

.bi-suit-heart {
  color: black;
  width: 100px;
  height: 100px;
}

.bi-play-fill {
  padding-top: 10%;
}

#testimonial-carousel {}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */
#pricing {
  padding-top: 30%;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%
}

/* Final Note/CTA */
#cta {
  text-align: center;
  padding: 8% 20% 5%;
}

.final-note {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Footer  */
#footer {
  background-color: #fff;
  text-align: center;
  padding: 5% 20%;
}

.end-icon {
  padding: 0 10px;
}

.copyright {
  color: #999999;
}

/* Phone Size */
@media (max-width: 1020px) {
  #title {
    text-align: center;
  }
}
